/Task.class
/Usuario.class
/Disciplina.class
/Calendario.class
/Main.class
/Exame.class
/horario.class
/Horario.class
/Data.class
/RepositorioAluno.class
/RepositorioDisciplina.class
/Comentario.class
/Atividade.class
/Amigo.class
/Depoimento.class
/Pessoa.class
/Post.class
/Comentarios.class
/Comunidade.class
/Forum.class
/Atividades.class
/Disciplinax.class
